[Unit]
Description=Openhab Service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User={{ openhab_username }}
WorkingDirectory={{ openhab_home }}
ExecStart=/usr/local/bin/docker-compose -f {{ openhab_home }}/docker-compose.yml up -d
ExecStop=/usr/local/bin/docker-compose -f {{ openhab_home }}/docker-compose.yml down

[Install]
WantedBy=multi-user.target