services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:{{ homeassistant_version }}"
    volumes:
      - "{{ homeassistant_home }}/config:/config"
      - "{{ homeassistant_home }}/docker/run:/etc/services.d/home-assistant/run"
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PUID={{ homeassistant_uid }}
      - PGID={{ homeassistant_uid }}
      - UMASK=007
      - PACKAGES=iputils
    cap_add:
      - NET_ADMIN
      - NET_RAW
    security_opt:
      - no-new-privileges
    restart: unless-stopped
    network_mode: host
